/* fira-mono-regular - latin */
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('/fonts/fira-mono-v12-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('/fonts/fira-mono-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fira-sans-regular - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('/fonts/fira-sans-v15-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('/fonts/fira-sans-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-sans-500 - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  src: local(''), url('/fonts/fira-sans-v15-latin-500.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('/fonts/fira-sans-v15-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-sans-700 - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('/fonts/fira-sans-v15-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('/fonts/fira-sans-v15-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


.bg-gray-200{
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240 / var(--tw-bg-opacity));
}

.popup{
  position: fixed;
  left:0;
  top:0;
  right: 0;
  width:100%;
  z-index: 1;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: medium;
  
}

.popup-inner{
  padding: 60px;;
  position: relative;
  background-color: white;
  max-width: 450px;
  height:300px;
  width: 100%;
}

.close-btn{
  position: absolute;
  top:10px;
  right:16px;
  height: 45px;
  font-size:large;
  color: black;
  
}


.close-btn:hover{
  cursor: pointer;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
